body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#F1, #F2 {
  width: 40px;
}

#C1,#C2{
  margin-top: 5px;
  background-color: #00A6E4;
  width:400px;
  height: 54px;
}

#button1{
  width:120px;
  font-size:28px;
  height:30px;
  line-height: 30px;
  text-align: center;
  background-color: #cccccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

#Te1,#Te2{
  width: 60px;
  height: 20px;
}

#R1,#R2{
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  width: 300px;
}

#RR1,#RR2{
  font-size: 20px;
  height: 25px;
  line-height: 25px;
  width: 100px;
}

#TA-1 {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 24pt;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

#Show {
  font-size:24pt;
  height:30px;
  background-color: #00B5AB;
  text-align: center;
  width:60%;
  line-height:30px;
}

