body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 18px;
}

#txt1 {
  width:40px;
  float:left;
  margin:10px;
  text-align:center;
  border: 1px solid #ccc;
  background-color: #fff;
}

#btn{
  float:left;
  margin-left:10px;
  font-size: 24pt;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
