body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #fff;
}

#num1,#num2,#p1,#p2 {
  font-size: 20pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
  float:left;
}

#abc{
  text-align: center;
  margin-top: 200px;
  width:40px;
  height:50px;
  margin-left: 550px;
}

#num1{
  margin-left: 300px;
}
#clear{
font-size: 20pt;
  margin-top: 50px;
}